.board{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.wordLine{
    display: flex;
    gap: 5px;
}
@keyframes noAnimation {
  0%   { transform: translateX(-20px); }
  50%  { transform: translateX(20px); }
  100% { transform: translateX(0); }
}

.inCorrectAnimation {
  animation: noAnimation .4s;
}